<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MOE"
        tools:targetApi="31">
        <activity
            android:name=".detail.record.ui.WriteActivity"
            android:exported="false" />
        <activity
            android:name=".signup.Signup_Login_Name_Activity"
            android:exported="false" />
        <activity
            android:name=".signup.Signup_Login_Finish_Activity"
            android:exported="false" />
        <activity
            android:name=".signup.Signup_Login_Activity"
            android:exported="false" />
        <activity
            android:name=".mypage.Mypage_Use_Activity"
            android:exported="false" />
        <activity
            android:name=".mypage.Mypage_QNA_Activity"
            android:exported="false" />
        <activity
            android:name=".mypage.Mypage_ProfileEdit_Activity"
            android:exported="false" />
        <activity
            android:name=".mypage.Mypage_Privacy_Activity"
            android:exported="false" />
        <activity
            android:name=".mypage.Mypage_Marketing_Activity"
            android:exported="false" />
        <activity
            android:name=".mypage.Mypage_Introduce_Activity"
            android:exported="false" />
        <activity
            android:name=".mypage.Mypage_Inputaccount_Activity"
            android:exported="false" />
        <activity
            android:name=".mypage.Mypage_Account_Activity"
            android:exported="false" />
        <activity
            android:name=".detail.record.ui.DetailActivity"
            android:exported="false"
            android:taskAffinity="com.example.moe.multiFinish" />
        <activity
            android:name=".detail.search.ui.SearchActivity"
            android:exported="false"
            android:taskAffinity="com.example.moe.multiFinish" />
        <activity
            android:name=".main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.LoadingActivity"
            android:exported="false" />
        <activity
            android:name=".login.NewpwActivity"
            android:exported="false" />
        <activity
            android:name=".login.FindActivity"
            android:exported="false" />
        <activity
            android:name=".signup.Signup_activity"
            android:exported="false" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="true"
            android:theme="@style/SplashTheme"></activity>
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="kakao946fb56b69f6fc6e54155a504e78ac99" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />
    </application>

</manifest>